################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/ScheduleJOB.Api/bin
/src/ScheduleJOB.Api/obj
/src/ScheduleJOB.Domain/bin
/src/ScheduleJOB.Domain/obj
/src/ScheduleJOB.Tests/bin
/src/ScheduleJOB.Tests/obj